.alert-box {
    color:#555;
    border-radius:10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.success {
    background:#e9ffd9;
    border:1px solid #a6ca8a;
}